.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-info {
    flex-grow: 1;
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
}

.edit-button {
    margin-right: 5px;
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}

.delete-button {
    background-color: #FF5C5C;
    color: #fff;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}

.edit-button:hover,
.delete-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.task-info {
    margin-left: 10px;
}

.completed {
    text-decoration: line-through;
}

.edit-inputs {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.edit-input {
    border: 1px solid #ccc;
    padding: 5px;
    margin-right: 5px;
    font-size: 14px;
}

.save-button {
    background-color: #4caf50;
    color: white;
}

.cancel-button {
    background-color: #FF5C5C;
    color: white;
}

.save-button,
.cancel-button {
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.save-button:hover,
.cancel-button:hover {
    opacity: 0.8;
}

.edit-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
